[submodule "backend/app/enterprise"]
	path = backend/app/enterprise
	url = git@github.com-chattermate:chattermate/enterprise_backend.git
	branch = main
[submodule "frontend/src/modules/enterprise"]
	path = frontend/src/modules/enterprise
	url = git@github.com-chattermate:chattermate/enterprise_frontend.git
	branch = main
